<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p> Sep 2022 - Apr 2024</p>
            <div class="h5">DevOps for Cloud Computing</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">DevOps for Cloud Computing </div>
            <h4 class="category">Post Graduation Diploma - DevOps for Cloud Computing Sep 2022 - Apr 2024
              Lambton College, Toronto, ON

            </h4>
            <!-- <ul>
              <li> Rayat Group Of Institute is PTU Affiliated and <b>ranks 3th</b> in Punjab </li>
              <li>Completed B.Tech in Computer Engineering with <b>7.82 CGPA</b>.</li>
              <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li>
              <li>Maintained above <b>7.82 spi</b> in every semester of college academic .</li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2013 - 2015</p>
            <div class="h5">Bachelor of Science (B.S.) </div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Science (B.S.) </div>
            <h4 class="category">Maths, Physics & Electronics  Anwar ul Uloom Degree College, Hyderabad

            </h4>
            <ul>
              <li>
                The College was mainly focus on the bases of science, mathematics, and Chemistry
              </li>
              <li>
                There was also a good base on Maths, Physics & Electronics .
              </li>
              <li>
                Completed my College with<b> 75%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p> Jun 2015 - Jun 2016
            </p>
            <div class="h5">High School Diploma </div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">High School Diploma</div>
            <h4 class="category">Computer Science Institute of Max Structural Designing, Hyderabad
            </h4>
            <ul>
              <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
              </li>

              <li>
                Completed  with <b>92%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>